version: "3.8"
services:
  server:
    build: ./src/server
    ports:
      - "5000:5000"
    volumes:
      - ./src/server:/server
      - instance:/server/instance

  client:
    build: ./src/client
    ports:
      - "3000:3000"
    volumes:
      - ./src/client:/client
      - node_modules:/client/node_modules

volumes:
  node_modules:
  instance:
