<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            
        {% endif %}

    {% endwith %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden'%}
            <div>
                {{ field.label if field.label.field_id != "submit" }} {{ field() }}
            </div>
        {% endfor %}
    
    </form>


</body>
</html>